.information-lookup-box-login{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-30%, -50%);
}
.information-lookup-box-secretary{
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
